<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AIHairApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIHair"
        tools:replace="android:allowBackup">

        <!-- 1. App ID của AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ad_app_id}" />

        <!-- 2. Khai báo ứng dụng dùng Ad Manager -->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <!-- 3. Tối ưu tốc độ tải và khởi tạo của AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="dev.zentrixa.common.activity.ZTSplashActivity"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AIHair"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:replace="android:theme,android:configChanges">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.hair_ai.HairAIActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.hair_result.HairResultActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.analysis.AnalysisActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.pick_gender.PickGenderActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.face_result.FaceResultActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.makeup_result.MakeupResultActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.photo_editor.PhotoEditorActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.main.history.detail.HistoryDetailActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.language.LanguageActivity"
            android:exported="false"
            android:configChanges="locale|layoutDirection|uiMode|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>